# Build outputs
build/
app/build/

# Local config
local.properties
*.iml

# Gradle cache
.gradle/
gradle-wrapper.jar

# JVM heap dumps (generowane przy braku pamięci)
*.hprof

# IDE - pliki lokalne (różne na każdym komputerze)
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.DS_Store
